.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.files {
  position: relative;
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: #f1f1f1;
}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: "";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.col-md-10 {
  color: black !important;
}

.switchBtn {
  position: absolute;
  top: 30px;
  left: 300px;
  color: white;
}

.account {
  position: absolute;
  top: 30px;
  left: 300px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userName {
  position: absolute;
  top: 90px;
  left: 420px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.customizedTime {
  position: absolute;
  top: 200px;
  left: 300px;
  color: white;
}

.signoutBtn {
  position: absolute;
  top: 130px;
  left: 420px;
  background-color: white;
}

.persona {
  position: absolute;
  top: 70px;
  left: 300px;
}

.toggleBtn {
  position: absolute;
  bottom: 80px;
  left: 30px;
  color: white;
}

.sidebar {
  position: absolute;
  top: 20px;
  left: 30px;
}
